.desenvolvido {
    margin-left: 5%;
    margin-top: 2%;
}

.dark-mode {
    background-color: black;
    color: white;
}

.lista {
    margin-left: 35%;
}

.botao {
    margin-left: 44%;
    font-size: 12px !important;
}

.form-control {
    width: 15% !important;
}

.inputs {
    margin-left: 45.5%;
    margin-top: 2%;
}

#botao {
    font-size: 11px !important;
    margin-left: 3%;
}

hr {
    width: 40% !important;
    margin-left: -12% !important;
}

.btn-outline-light {
    color: #1a91ea !important;
    border-color: #f8f9fa;
}

.mode {
    margin-left: 0%;
}